@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "ss02" 1;
  }

  .post-content h1,
  .post-content h2 {
    @apply text-gray-500;
  }

  .post-content * + h1,
  .post-content * + h2 {
    @apply mt-16;
  }

  .post-content h1,
  .post-content h2 {
    @apply mb-4 text-xl md:text-lg lg:text-xl;
  }

  .post-content p + p {
    @apply mt-8;
  }

  .post-content p,
  .post-content li {
    @apply max-w-xl text-xl leading-normal md:text-lg lg:text-xl;
  }

  .post-content a:link,
  .post-content a:visited {
    @apply underline hover:text-green-600;
  }

  .post-content p code {
    @apply bg-gray-50 px-2 py-1 text-base text-green-700;
  }

  .post-content pre {
    @apply my-8 overflow-auto bg-gray-900 p-4 text-gray-50;
  }

  .post-content ul {
    @apply my-8 list-inside list-disc md:list-outside;
  }

  .post-content li + li {
    @apply mt-3;
  }

  .post-content blockquote {
    @apply mb-8 border-l-4 border-gray-200 pl-4;
  }

  .prose ul:first-child {
    @apply !mt-0;
  }
}
